@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Times New Roman';
  src: url('/public/Fonts/times-new-roman.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --primary: #05233d;
    --secondary: #023e8a;
    --card: #F7F7F7;
  }
}

